/*body {*/
  /*padding-top: 54px;*/
/*}*/

/*@media (min-width: 992px) {*/
  /*body {*/
    /*padding-top: 56px;*/
  /*}*/
/*}*/

/*.border-top { border-top: 1px solid #e5e5e5; }*/
/*.border-bottom { border-bottom: 1px solid #e5e5e5; }*/
/*.border-top-gray { border-top-color: #adb5bd; }*/

/*.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }*/

/*.lh-condensed { line-height: 1.25; }*/

.has-tooltip {
  text-decoration: underline dashed;
}
.form-input-inline {
    display: inline;
    margin: 0 5px;
}

.reset-list {
    list-style: initial;
}

.intro {
    padding: 3rem 2rem;
}