<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base target="_blank">
    <title>Configuration - Tranco</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="/assets/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="#" target="_self">Tranco: An improved top websites ranking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" target="_self">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#download" target="_self">Download</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" target="_self">Configure <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/methodology" target="_self">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#aboutus" target="_self">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="py-3">
        <h2>List configuration</h2>
        <p class="lead">Configure the ranking to have the properties that you desire.<br>
            <a href="/methodology">Learn more about the methodology used to compose the individual rankings, to compose our combined ranking and to determine our filters.</a>
            </p>
                <p class="mt-2"><b>Attribution:</b>
            We use the lists from four providers: <a href="https://www.alexa.com/topsites">Alexa</a>,
            <a href="https://s3-us-west-1.amazonaws.com/umbrella-static/index.html">Cisco Umbrella</a> (available free of charge),
            <a href="https://majestic.com/reports/majestic-million">Majestic</a> (available under a <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>) and
            <a href="https://www.quantcast.com/top-sites/">Quantcast</a>.
        </p>

    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span>Overview of list properties</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h5 class="my-1">Alexa <span class="float-right"><a href="https://www.alexa.com/"
                                                                            title="Visit provider page"><i
                                class="fas fa-info-circle"></i></a> <a
                                href="https://s3.amazonaws.com/alexa-static/top-1m.csv.zip" title="Download list"><i
                                class="fas fa-file-download"></i></a></span>
                        </h5>
                        <ul class="reset-list">
                            <li>Based on page visits reported by a user panel and on a tracking script</li>
                            <li>Most often used in recent research</li>
                            <li> Very volatile list</li>
                        </ul>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h5 class="my-1">Cisco Umbrella <span class="float-right"><a
                                href="https://s3-us-west-1.amazonaws.com/umbrella-static/index.html"
                                title="Visit provider page"><i
                                class="fas fa-info-circle"></i></a> <a
                                href="https://s3-us-west-1.amazonaws.com/umbrella-static/top-1m.csv.zip"
                                title="Download list"><i
                                class="fas fa-file-download"></i></a></span></h5>
                        <ul class="reset-list">
                            <li>Based on DNS traffic</li>
                            <li>Most recently created list</li>
                            <li>Volatile list</li>
                            <li>Contains domains not visited through a browser or invalid</li>
                            <li>Contains subdomains
                        </ul>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h5 class="my-1">Majestic <span class="float-right"><a
                                href="https://majestic.com/reports/majestic-million" title="Visit provider page"><i
                                class="fas fa-info-circle"></i></a> <a
                                href="http://downloads.majestic.com/majestic_million.csv" title="Download list"><i
                                class="fas fa-file-download"></i></a></span></h5>
                        <ul class="reset-list">
                            <li>Based on links back to a domain</li>
                            <li> Very stable list, sites may remain ranked even if popularity fades</li>
                        </ul>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h5 class="my-1">Quantcast <span class="float-right"><a
                                href="https://www.quantcast.com/top-sites/" title="Visit provider page"><i
                                class="fas fa-info-circle"></i></a> <a
                                href="https://ak.quantcast.com/quantcast-top-sites.zip" title="Download list"><i
                                class="fas fa-file-download"></i></a></span></h5>
                        <ul class="reset-list">
                            <li>Based on page visits reported by a tracking script and on ISP traffic</li>
                            <li>United States traffic only</li>
                            <li>Very stable list, due to infrequent updates of estimates
                            <li>Some domains are hidden</li>
                            <li>Domains may have an equal rank</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <form method="POST" action="generate_list" target="_self"> <!--class="needs-validation" novalidate-->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Input lists</span>
                </h4>

                <div class="mb-3">
                    <label for="providers">Lists to use</label>
                    <div id="providers" onchange="warnUmbrella()">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="alexa" value="alexa"
                                   name="providers" checked>
                            <label class="custom-control-label" for="alexa">Alexa</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="umbrella" value="umbrella"
                                   name="providers" checked>
                            <label class="custom-control-label" for="umbrella">Cisco Umbrella</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="majestic" value="majestic"
                                   name="providers" checked>
                            <label class="custom-control-label" for="majestic">Majestic</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="quantcast" value="quantcast"
                                   name="providers" checked>
                            <label class="custom-control-label" for="quantcast">Quantcast</label>
                        </div>
                    </div>
                    <p id="umbrellaWarning" class="text-muted"><i class="fas fa-exclamation-circle"></i> The Umbrella list also includes subdomains. Unless you enable the pay-level domains filter below, your output list will also contain subdomains;
                        however these may be (disproportionally) lowly ranked, as there is no count towards the global rank from the other lists.</p>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="nbDays">Number of days</label>
                        <input type="number" class="form-control" id="nbDays" name="nbDays" min="1" value="30" required
                               onchange="syncDates('nbDays')">
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="fromStart" name="nbDaysFrom" value="start" type="radio"
                                       class="custom-control-input"
                                       onchange="enableDateField()">

                                <label class="custom-control-label" for="fromStart">From start date</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="fromEnd" name="nbDaysFrom" value="end" type="radio"
                                       class="custom-control-input" checked
                                       onchange="enableDateField()">

                                <label class="custom-control-label" for="fromEnd">From end date</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="startDate">Start date</label>
                        <input type="date" id="startDate" name="startDate" value="2018-10-31" max="2018-10-31"
                               min="2018-07-01" class="form-control" disabled onchange="syncDates('startDate')">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="endDate">End date</label>
                        <input type="date" id="endDate" name="endDate" value="2018-10-31" max="2018-10-31"
                               min="2018-07-01" class="form-control" onchange="syncDates('endDate')">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="combinationMethod">Combination method</label>
                    <div id="combinationMethod">
                        <div class="custom-control custom-radio ">
                            <input id="borda" name="combinationMethod" value="borda" type="radio"
                                   class="custom-control-input"
                                   required>
                            <label class="custom-control-label" for="borda"><a
                                    href="https://en.wikipedia.org/wiki/Borda_count#Borda's_system_(starting_at_1)">Borda
                                count</a>: first domain gets N points, second N-1, ..., last 1 point, not present 0
                                points</label>
                        </div>
                        <div class="custom-control custom-radio ">
                            <input id="dowdall" name="combinationMethod" value="dowdall" type="radio"
                                   class="custom-control-input" checked
                                   required>
                            <label class="custom-control-label" for="dowdall"><a
                                    href="https://en.wikipedia.org/wiki/Borda_count#Dowdall_system_(Nauru)">Dowdall
                                rule</a>: first domain gets 1 point, second 1/2, ..., last 1/N points, not present 0
                                points</label>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="listPrefix">Only use domains in the prefix of length</label>
                    <div id="listPrefix" onchange="disableCustomCheckbox('listPrefixCustom')">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listPrefix500" name="listPrefix" value="500" type="radio"
                                   class="custom-control-input"
                                   required>
                            <label class="custom-control-label" for="listPrefix500">500</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listPrefix1K" name="listPrefix" value="1000" type="radio"
                                   class="custom-control-input" required>
                            <label class="custom-control-label" for="listPrefix1K">1K</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listPrefix10K" name="listPrefix" value="10000" type="radio"
                                   class="custom-control-input" required>
                            <label class="custom-control-label" for="listPrefix10K">10K</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listPrefix100K" name="listPrefix" value="100000" type="radio"
                                   class="custom-control-input" required>
                            <label class="custom-control-label" for="listPrefix100K">100K</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listPrefix1M" name="listPrefix" value="1000000" type="radio"
                                   class="custom-control-input" required>
                            <label class="custom-control-label" for="listPrefix1M">1M</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listPrefixFull" name="listPrefix" value="full" type="radio"
                                   class="custom-control-input" checked required>
                            <label class="custom-control-label" for="listPrefixFull">Full</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listPrefixCustom" name="listPrefix" value="custom" type="radio"
                                   class="custom-control-input"
                                   required>
                            <label class="custom-control-label" for="listPrefixCustom">Custom <input type="number"
                                                                                                     class="form-control form-input-inline w-50"
                                                                                                     id="listPrefixCustomValue"
                                                                                                     name="listPrefixCustomValue"
                                                                                                     placeholder=""
                                                                                                     disabled>
                            </label>
                        </div>
                    </div>
                </div>

                <hr class="my-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Filters</span>
                </h4>
                <div class="mb-3">
                    <div class="custom-control custom-checkbox" onchange="disableCustomCheckbox('inclusionDays')">
                        <input type="checkbox" class="custom-control-input" id="inclusionDays" name="inclusionDays">
                        <label class="custom-control-label" for="inclusionDays">Only include domains if they were
                            present
                            for at least <input type="number" class="form-control form-input-inline w-25"
                                                id="inclusionDaysValue" name="inclusionDaysValue"
                                                min="1" value="1" disabled> days</label>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="custom-control custom-checkbox" onchange="disableCustomCheckbox('inclusionLists')">
                        <input type="checkbox" class="custom-control-input" id="inclusionLists" name="inclusionLists">
                        <label class="custom-control-label" for="inclusionLists">Only include domains if they are
                            present
                            in at least <select class="custom-select form-input-inline w-25" id="inclusionListsValue"
                                                name="inclusionListsValue" disabled>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select> list(s)</label>
                    </div>
                </div>

                 <div class="d-block my-3">
                    <div id="service" data-toggle="tooltip" data-placement="left" title="Coming soon">
                        <fieldset disabled>
                        <div class="custom-control custom-radio">
                            <input id="servicesAll" name="service" class="custom-control-input" value="all"
                                   checked type="radio">
                            <label class="custom-control-label" for="servicesAll">Include all service types</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="servicesWeb" name="service" class="custom-control-input" value="web"
                                   type="radio">
                            <label class="custom-control-label" for="servicesWeb">Only include web services</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="servicesMail" name="service" class="custom-control-input"
                                   value="mail" type="radio">
                            <label class="custom-control-label" for="servicesMail">Only include mail servers</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="servicesName" name="service" class="custom-control-input"
                                   value="name" type="radio">
                            <label class="custom-control-label" for="servicesName">Only include name servers</label>
                        </div>
                        </fieldset>
                    </div>
                </div>

                <div class="d-block my-3">
                    <!-- TODO only enable when all or web services are selected?-->
                    <div id="includeDomains" data-toggle="tooltip" data-placement="left" title="Coming soon">
                        <fieldset disabled>
                        <div class="custom-control custom-radio">
                            <input id="includeAll" name="includeDomains" class="custom-control-input" value="all"
                                   checked type="radio">
                            <label class="custom-control-label" for="includeAll">Include domains regardless of
                                availability</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="includeValid" name="includeDomains" class="custom-control-input" value="valid"
                                   type="radio">
                            <label class="custom-control-label" for="includeValid">Only include domains that are valid
                                (sub)domains</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="includeResponsive" name="includeDomains" class="custom-control-input"
                                   value="responsive" type="radio">
                            <label class="custom-control-label" for="includeResponsive">Only include domains that we
                                measure to be responsive over HTTP</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="includeStatus200" name="includeDomains" class="custom-control-input"
                                   value="status200" type="radio">
                            <label class="custom-control-label" for="includeStatus200">Only include domains that have
                                HTTP status code 200</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="includeContentLength" name="includeDomains" class="custom-control-input"
                                   value="contentLength" type="radio">
                            <label class="custom-control-label" for="includeContentLength">Only include domains that
                                have a HTTP response body length over 512 bytes</label>
                        </div>
                        </fieldset>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="custom-control custom-checkbox mb-1">
                        <input type="checkbox" class="custom-control-input" id="filterBlacklists"
                               name="filterBlacklists">
                        <label class="custom-control-label" for="filterBlacklists">
                            Only include domains not flagged as dangerous by <a href="https://safebrowsing.google.com/">Google Safe Browsing</a></label>
                    </div>
                </div>

                <div class="mb-3">

                <div >
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="filterPLD" name="filterPLD" checked>
                        <label class="custom-control-label" for="filterPLD">
                            Only include <span class="has-tooltip" data-toggle="tooltip" data-placement="top"
                                               title="A domain name that a consumer or business can directly register, consisting of a subdomain of a public suffix or effective top-level domain (e.g. .com but also .co.uk).">
                            pay-level domains</span></label>
                    </div>
                </div>

                <div class="my-2" onchange="disableCustomRadio('filterTLD', ['filterTLDInclude', 'filterTLDExclude'])">
                        <div class="custom-control custom-radio">
                            <input id="filterTLDAll" name="filterTLD" class="custom-control-input" value="false"
                                   type="radio" checked>
                            <label class="custom-control-label" for="filterTLDAll">Do not filter on <a href="https://en.wikipedia.org/wiki/Public_Suffix_List" class="has-tooltip" data-toggle="tooltip"
                                                                       data-placement="top"
                                                                                           title="e.g. 'co.uk' in 'sub.dom.co.uk'">effective top-level domain/public suffix</a></label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="filterTLDInclude" name="filterTLD" class="custom-control-input"
                                   value="include" type="radio">
                            <label class="custom-control-label" for="filterTLDInclude">Only include domains with any of the following effective top-level domains/public suffixes</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="filterTLDExclude" name="filterTLD" class="custom-control-input"
                                   value="exclude" type="radio">
                            <label class="custom-control-label" for="filterTLDExclude">Exclude domains with any of the following effective top-level domains/public suffixes</label>
                        </div>
                    <div class="custom-control">
                        <input type="text"
                           class="form-control form-input-inline w-50"
                           id="filterTLDValue"
                           name="filterTLDValue"
                           placeholder="(comma-separated list)"
                           disabled><br>
                    </div>
                </div>

                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="filterOrganization" name="filterOrganization">
                        <label class="custom-control-label" for="filterOrganization">
                            Only include one domain (the most popular) for a certain <span class="has-tooltip" data-toggle="tooltip"
                                                                       data-placement="top"
                                                                                           title="Defined as the root pay-level domain, e.g. 'dom' in 'sub.dom.co.uk'">organization</span><br>
                        <span class="text-muted">This option can reduce the share of very popular services, e.g. Google with its country-specific websites</span></label>
                    </div>
                </div>

                <div>
                    <div class="custom-control custom-checkbox"  onchange="disableCustomCheckbox('filterSubdomain')">
                        <input type="checkbox" class="custom-control-input" id="filterSubdomain" name="filterSubdomain">
                        <label class="custom-control-label" for="filterSubdomain">
                            Only include domains where the <span class="has-tooltip" data-toggle="tooltip"
                                                                       data-placement="top"
                                                                                           title="e.g. 'sub' in 'sub.dom.co.uk'">subdomain</span> is in <input type="text"
                                                                                                   class="form-control form-input-inline w-50"
                                                                                                   id="filterSubdomainValue"
                                                                                                   name="filterSubdomainValue"
                                                                                                   placeholder="(comma-separated list)"
                                                                                                   disabled><br>
                        <span class="text-muted">Requires the Umbrella list</span></label>
                    </div>
                </div>
            </div>

                <div class="mb-3">
                    <div class="custom-control custom-checkbox mb-1" data-toggle="tooltip" data-placement="left" title="Coming soon">
                        <fieldset disabled>
                        <input type="checkbox" class="custom-control-input" id="filterCRUX" name="filterCRUX">
                        <label class="custom-control-label" for="filterCRUX">
                            Only include domains included in the <span class="has-tooltip" data-toggle="tooltip"
                                                                       data-placement="top"
                                                                       title="June 2018, X.X million origins">most recent</span>
                            <a href="https://developers.google.com/web/tools/chrome-user-experience-report/">Chrome User
                                Experience Report</a>
                            <br>
                            <span class="text-muted">This list contains origins popular with Chrome users, and may therefore reflect browser traffic across a larger userbase, but is not ranked</span></label>
                         </fieldset>
                   </div>
                </div>

                <hr class="my-4">

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Output list</span>
                </h4>

                <div class="mb-3">
                    <label for="listSize">Result list size</label>
                    <div id="listSize" onchange="disableCustomCheckbox('listSizeCustom')">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listSize500" name="listSize" value="500" type="radio"
                                   class="custom-control-input"
                                   required>
                            <label class="custom-control-label" for="listSize500">500</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listSize1K" name="listSize" value="1000" type="radio"
                                   class="custom-control-input" required>
                            <label class="custom-control-label" for="listSize1K">1K</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listSize10K" name="listSize" value="10000" type="radio"
                                   class="custom-control-input" required>
                            <label class="custom-control-label" for="listSize10K">10K</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listSize100K" name="listSize" value="100000" type="radio"
                                   class="custom-control-input" required>
                            <label class="custom-control-label" for="listSize100K">100K</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listSize1M" name="listSize" value="1000000" type="radio"
                                   class="custom-control-input" required>
                            <label class="custom-control-label" for="listSize1M">1M</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listSizeFull" name="listSize" value="full" type="radio"
                                   class="custom-control-input" checked required>
                            <label class="custom-control-label" for="listSizeFull">Full</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="listSizeCustom" name="listSize" value="custom" type="radio"
                                   class="custom-control-input"
                                   required>
                            <label class="custom-control-label" for="listSizeCustom">Custom <input type="number"
                                                                                                   class="form-control form-input-inline w-50"
                                                                                                   id="listSizeCustomValue"
                                                                                                   name="listSizeCustomValue"
                                                                                                   placeholder=""
                                                                                                   disabled>
                            </label>
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Generate list</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"
        integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    let nbDays = $("#nbDays");
    let startDate = $("#startDate");
    let endDate = $("#endDate");

    endDate.val(moment.utc().subtract(1, "days").format("YYYY-MM-DD"));
    let newStartDate = moment(new Date(endDate.val())).subtract(nbDays.val() - 1, 'days').format("YYYY-MM-DD");
    startDate.val(newStartDate);

</script>
<script>
    function warnUmbrella() {
        let umbrellaChecked = $("#umbrella").is(":checked");
        let otherChecked = ($("#alexa").is(":checked") || $("#majestic").is(":checked") || $("#quantcast").is(":checked"));

        if (umbrellaChecked && otherChecked) {
            $("#umbrellaWarning").show();
        } else {
            $("#umbrellaWarning").hide();
        }
    }

    warnUmbrella();

    function syncDates(trigger) {
        let nbDays = $("#nbDays");
        let fromStart = $("#fromStart");
        let fromEnd = $("#fromEnd");
        let startDate = $("#startDate");
        let endDate = $("#endDate");

        // switch (trigger) {
        //     case "nbDays":
                if (fromStart.is(":checked")) {
                    let newEndDate = moment(new Date(startDate.val())).add(nbDays.val() - 1, 'days').format("YYYY-MM-DD");
                    endDate.val(newEndDate);
                } else if (fromEnd.is(":checked")) {
                    let newStartDate = moment(new Date(endDate.val())).subtract(nbDays.val() - 1, 'days').format("YYYY-MM-DD");
                    startDate.val(newStartDate);
                } else {
                    console.log("?")
                }
        //         break;
        //     // case "nbDaysFrom":
        //     //     break;
        //     case "startDate":
        //         if (fromStart.is(":checked")) {
        //             let newEndDate = moment(new Date(startDate.val())).add(nbDays.val() - 1, 'days').format("YYYY-MM-DD");
        //             endDate.val(newEndDate);
        //         } else if (fromEnd.is(":checked")) {
        //             let newStartDate = moment(new Date(endDate.val())).subtract(nbDays.val() - 1, 'days').format("YYYY-MM-DD");
        //             startDate.val(newStartDate);
        //         } else {
        //             console.log("?")
        //         }
        //         break;
        //     case "endDate":
        //         break;
        //     default:
        //         console.log(trigger, "?");
        //         break;
        // }
    }

    function enableDateField() {
        let fromStart = $("#fromStart");
        let fromEnd = $("#fromEnd");
        let startDate = $("#startDate");
        let endDate = $("#endDate");

        if (fromStart.is(":checked")) {
            startDate.prop('disabled', false);
            endDate.prop('disabled', true);
        } else {
            endDate.prop('disabled', false);
            startDate.prop('disabled', true);
        }
    }

    function disableCustomCheckbox(field) {
        let customCheckbox = $("#" + field);
        let customValue = $("#" + field + "Value");

        if (customCheckbox.is(":checked")) {
            customValue.prop('disabled', false);
        } else {
            customValue.prop('disabled', true);
        }
    }

    function disableCustomRadio(field, options) {
        let customRadios = options.map(option => $("#" + option));
        let customValue = $("#" + field + "Value");

        if (customRadios.some(r => r.is(":checked"))) {
            customValue.prop('disabled', false);
        } else {
            customValue.prop('disabled', true);
        }
    }
</script>

</body>
</html>
