<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>An improved top websites ranking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="/assets/style.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">An improved top websites ranking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/configure">Configure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutus">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">An improved top websites ranking</h1>
        <p class="lead">Providing reproducible, citable rankings of popular websites for the research community</p>
    </div>
    <div class="my-4">
        <h4 id="download">Access the lists</h4>
        <div class="card-deck">
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <p class="card-text">
                        We advise to use the list combining all four providers and averaging over the past 30 days.</p>
                    <form action="/download_latest" method="get" class="mt-auto d-flex flex-column">
                        <input type="hidden" name="provider" value="all">
                    <p class="card-text">
                        I want a list of length:
                        <select name="list_size">
                            <option value="10000">10 000</option>
                            <option value="100000">100 000</option>
                            <option value="1000000" selected>1 000 000</option>
                            <option value="full">As much as available</option>
                        </select>
                    </p>
                        <button type="submit" class="btn btn-success ">Download</button>
                        </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <p class="card-text">
                        If you prefer, you can use the list of one provider, averaged over the
                        past 30 days.</p>
                    <form action="/download_latest" method="get" class="mt-auto d-flex flex-column">
                    <p class="card-text">
                        Provider:
                        <select name="provider">
                            <option value="alexa">Alexa</option>
                            <option value="umbrella">Cisco Umbrella</option>
                            <option value="majestic">Majestic</option>
                            <option value="quantcast">Quantcast</option>
                        </select>
                        <br>
                        I want a list of length:
                        <select name="list_size">
                            <option value="10000">10 000</option>
                            <option value="100000">100 000</option>
                            <option value="1000000" selected>1 000 000</option>
                            <option value="full">As much as available</option>
                        </select>
                    </p>
                        <button type="submit" class="btn btn-primary">Download</button>
                                            </form>

                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <p class="card-text"> You can customize your list to have specific properties.
                    </p>
                    <a href="/configure" class="btn btn-info mt-auto">Customize</a>
                </div>
            </div>
        </div>
        <p class="mt-2"><b>Attribution:</b>
            We use the lists from four providers: <a href="https://www.alexa.com/topsites">Alexa</a>,
            <a href="https://s3-us-west-1.amazonaws.com/umbrella-static/index.html">Cisco Umbrella</a> (available free of charge),
            <a href="https://majestic.com/reports/majestic-million">Majestic</a> (available under a <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>) and
            <a href="https://www.quantcast.com/top-sites/">Quantcast</a>.
        </p>
    </div>
    <div class="my-4">
        <h4 id="aboutservice">About this service</h4>
        <p> Researchers often use rankings of popular websites when measuring security practices, evaluating defenses,
            analyzing ecosystems or conducting Internet-wide observations.
            However, little is known about the data collection and processing methodologies of these rankings, even
            though this affects the validity of conclusions based upon the results obtained using these rankings.</p>
        <p>
            We uncovered how both inherent properties and vulnerabilities
            to adversarial manipulation of these rankings may affect the conclusions of security studies.
            In addition, we found that researchers overwhelmingly lack any comment on when the list was downloaded, when
            the websites on the lists were visited and what proportion was actually reachable.
            This hampers reproducibility of these studies given the daily changes in list compositions and ranks. </p>

        <p>Overall, our study revealed significant shortcomings of current rankings and calls for a more cautious
            approach from the research community.
            In order to make researchers more aware of the properties and effects of these popularity rankings and to
            help in ensuring that studies using these rankings are reproducible,
            we provide this service where researchers can obtain rankings with properties that are more appropriate to
            their studies, and where the methodology and composition of these rankings is
            stored for future reference and reproduction.</p>

        <p>We propose a ranking that is suitable for most research purposes, consisting of data from all available
            rankings over a period of 30 days. Per-provider rankings are also available, if consistency with previous
            studies is desired.
            Finally, we allow researchers to create a fully customized rankings, applying multiple filters in order to
            best reflect their need. We archive all generated rankings and supply a permanent link to a page
            with additional information on the methodology behind the ranking and the ability to download the exact same
            list as was used in the study.
            This improves the validity of research results through a better understanding and awareness of these
            rankings, as well as reproducibility by keeping a permanent reference to the rankings. </p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

</body>
</html>