<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>List methodology - Tranco</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="/assets/style.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">Tranco: An improved top websites ranking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/configure">Configure</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Methodology <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#aboutus">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="my-3">
        <h2>Methodology</h2>
    </div>
    <div class="my-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Terminology</span>
        </h4>
        <div>
            <dl>
                <dt>Pay-level domain (PLD)</dt>
                <dd>A domain name that a consumer or business can directly register, e.g. example.com</span> but also
                    <span class="text-monospace">example.co.uk</span>), consisting of a subdomain of a public
                    suffix/effective top-level domain.
                </dd>
                <dt>Public suffix/effective top-level domain</dt>
                <dd>A suffix under which domain names can be directly registered, e.g. <span
                        class="text-monospace">.com</span> but also <span class="text-monospace">.co.uk</span>). The <a
                        href="https://publicsuffix.org/">Public Suffix List</a> lists known public suffixes.
                </dd>
            </dl>
        </div>
    </div>

    <div class="my-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>List properties</span>
        </h4>
        <div>
            <h5 class="my-1">Alexa
                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Alexa">
                    <a href="https://www.alexa.com/" class="btn btn-outline-primary">Visit provider page</a>
                    <a href="https://s3.amazonaws.com/alexa-static/top-1m.csv.zip" class="btn btn-outline-primary">Download
                        current list</a>
                </div>
            </h5>
            <p>Alexa publishes a daily updated list consisting of one million websites. Usually only pay-level domains
                are ranked, except for subdomains of certain sites that provide "personal home pages or
                blogs"<!--~\cite{Alexa1}--> (e.g. <span class="text-monospace">tmall.com</span>, <span class="text-monospace">wordpress.com</span>).
                In May 2007 Alexa started selling a list of the top 100,000 websites<!--~\cite{Alexa4}-->; before then at most
                500~sites were ranked<!--~\cite{Lerner2016}-->. In December 2008 they expanded the list to one million sites
                while also making it available for free<!--~\cite{Alexa5}-->. In November 2016, Alexa briefly took down the
                free CSV file with the list<!--~\cite{Twitter1}-->. The file has since been available again<!--~\cite{Twitter2}--> and
                is still updated daily; however, it is no longer linked to from its website, instead referring users to
                the paying <a href="https://aws.amazon.com/alexa-top-sites/">'Alexa Top Sites'</a> service on Amazon Web
                Services<!--~\cite{Alexa6}-->.</p>


            <p>The ranks calculated by Alexa are based on traffic data from a "global data panel", with domains being
                ranked on a combined measure of unique visitors and page views, where one visitor can have at most one
                page view count towards the page views of a URL<!--~\cite{Alexa1}-->. The panel is claimed to consist of
                millions of users, who have installed one of "many different" browser extensions that include Alexa's
                measurement code<!--~\cite{Alexa8}-->. However, <a href="https://www.alexa.com/toolbar">Alexa's own
                    extension</a> ("Alexa Traffic Rank") is only available for <a
                        href="https://chrome.google.com/webstore/detail/alexa-traffic-rank/cknebhggccemgcnbidipinkifmmegdel">Google
                    Chrome</a> and Firefox on the desktop; the former is reported to have around 560,000
                users<!--~\cite{alexaextension}-->; no user statistics are known for the latter, but extrapolation suggests a
                user panel of at most one million users. Through a crawl of all available extensions for both browsers,
                we found no other extensions to include Alexa's measurement code. In addition, sites can install an <a
                        href="https://support.alexa.com/hc/en-us/sections/200063374-Certified-Site-Metrics">"Alexa
                    Certify"</a> tracking script that directly reports traffic data for all visitors.</p>

            <p>Ranks are then determined through a statistical model to account for biases in their user
                panel<!--<!--~\cite{Alexa2}-->-->. The rank shown on Alexa's website is based on data over three months, while in 2016
                they stated on their website that the downloadable list was based on data over one month<!--~\cite{Alexa3a}-->.
                This statement was removed after the brief takedown of the downloadable list<!--~\cite{Alexa3b}-->, but the
                same period was seemingly retained. However, we suspect that since January 30, 2018, the list is based
                on data for one day. This introduces a large volatility in the composition of the list, with around half of the list changing from day to day.</p>

            <p>Alexa's data collection methodology leads to a focus on sites that are visited in the top-level browsing
                context of a web browser (i.e. HTTP traffic). They also indicate that ranks above 100,000 are not
                statistically meaningful, and that for these sites small changes in measured traffic may cause large
                rank changes<!--~\cite{Alexa1}-->, negatively affecting the stability of the list. </p>

            <p>Alexa is by far the most popular list used in recent security and network measurement studies.</p>
        </div>
        <div>
            <h5 class="my-1">Cisco Umbrella
                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Alexa">
                    <a href="https://s3-us-west-1.amazonaws.com/umbrella-static/index.html"
                       class="btn btn-outline-primary">Visit provider page</a>
                    <a href="https://s3-us-west-1.amazonaws.com/umbrella-static/top-1m.csv.zip"
                       class="btn btn-outline-primary">Download current list</a>
                </div>
            </h5>
            <p>Cisco Umbrella publishes a daily updated list consisting of one million entries. It includes pay-level
                domains and subdomains at any depth, where the domains at lower depths will all be included as well. The
                list was first published in December 2016; top-level domains (but not all public suffixes) were moved to
                a separate list in February 2017.</p>

            <p>The ranks calculated by Cisco Umbrella are based on DNS traffic to its two DNS resolvers (marketed as
                OpenDNS), claimed to consist of over 100 billion daily requests from 65 million users. Domains are
                ranked on the number of unique IPs issuing DNS queries for them<!--~\cite{Umbrella2}-->. Not all traffic is
                said to be used: instead the DNS data is sampled and `data normalization methodologies' are applied to
                reduce biases<!--~\cite{Umbrella1}-->, taking the distribution of client IPs into account<!--~\cite{Umbrella3}-->. It appears that Umbrella counts daily traffic towards the ranking during two days, which leads to a relatively volatile list (between 5% and 15% of daily change).</p>


            <p>Umbrella's data collection methodology means that non-browser-based traffic is also accounted for. A
                side-effect is that invalid domains may also be included in the list (e.g. internal domains such as
                <span class="text-monospace">*.ec2.internal</span> for Amazon EC2 instances, or typos such as <span
                        class="text-monospace">google.conm</span>).</p>
        </div>
        <div>
            <h5 class="my-1">Majestic
                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Alexa">
                    <a href="https://majestic.com/reports/majestic-million" class="btn btn-outline-primary">Visit
                        provider page</a>
                    <a href="http://downloads.majestic.com/majestic_million.csv" class="btn btn-outline-primary">Download
                        current list</a>
                </div>
            </h5>
            <p>Majestic publishes the daily updated `Majestic Million' list consisting of one million websites. The list
                comprises mostly pay-level domains, but includes subdomains for certain very popular domains (e.g. <span
                        class="text-monospace">plus.google.com</span>, <span
                        class="text-monospace">en.wikipedia.org</span>). The list was first published in May
                2011<!--~\cite{Majestic3}-->, and has been available as a daily updated CSV since October
                2012<!--~\cite{Majestic2}-->.</p>

            <p>The ranks calculated by Majestic are based on backlinks to websites, obtained by a crawl of around
                450~billion URLs over 120~days, changed from 90 days on April 12, 2018<!--~\cite{Majestic1, Majestic5}-->.
                Instead of using the number of backlinks or referring domains, sites are ranked on the number of class C
                (IPv4 /24) subnets that refer to the site at least once<!--~\cite{Majestic2}-->. As crawl data over 120 days is used, and backlinks are generally slower to (dis)appear, the list is very stable; moreover, sites may remain ranked even if their popularity fades.</p>

            <p>Majestic's data collection
                methodology means only domains linked to from other websites are considered, implying a bias towards
                browser-based traffic, however without counting actual page visits. As is the case for search engines,
                the completeness of their data is affected by how their crawler discovers websites.</p>
        </div>
        <div>
            <h5 class="my-1">Quantcast
                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Alexa">
                    <a href="https://www.quantcast.com/top-sites/" class="btn btn-outline-primary">Visit provider
                        page</a>
                    <a href="https://ak.quantcast.com/quantcast-top-sites.zip" class="btn btn-outline-primary">Download
                        current list</a>
                </div>
            </h5>
            <p>Quantcast publishes a list of the websites visited the most in the United States. The size of the list
                varies slightly from day to day, but usually is around 520,000 mostly pay-level domains; subdomains
                reflect sites that publish user content (e.g. <span class="text-monospace">blogspot.com</span>, <span
                        class="text-monospace">github.io</span>). The list also includes around 5,000 'hidden profiles',
                where sites are ranked but the domain is hidden. The list has been available since mid
                2007<!--~\cite{Quantcast3}-->.</p>

            <p>The ranks calculated by Quantcast are based on the number of people visiting a site within the previous
                month, and comprises 'quantified' sites where Quantcast directly measures traffic (through a tracking
                script) as well as sites where Quantcast estimates traffic based on data from `ISPs and toolbar
                providers'<!--~\cite{Quantcast1}-->. These estimates are only calculated for traffic in the United States, for
                other countries only directly quantified sites are ranked; the list of top sites also only considers US
                traffic. Moreover, while quantified sites see their visit count updated daily, estimated counts are only
                updated monthly<!--~\cite{Quantcast2}-->, which leads to a very stable list. Quantified sites make up
                around 10% of the full (US) list.</p>
        </div>
    </div>
    <!--
    <div class="my-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Determining service types</span>
        </h4>
        <div>
            We distinguish web services, mail servers and name servers.
        </div>
    </div>
    <div class="my-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Determining domain availability</span>
        </h4>
        <div>
            status code, repeat or not
        </div>
    </div>
    <div class="my-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Best practices</span>
        </h4>
        <div>
            - include the date of the list
            - include the number of reachable sites
            - clearly indicate whether percentages are in terms of 1M or of the reachable population
        </div>
    </div>
    <div class="my-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Determining domain availability</span>
        </h4>
        <div>
            status code, repeat or not
        </div>
    </div>

    <div class="my-3">
        <h5>References</h5>
    </div>
    -->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

</body>
</html>